@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Comfortaa";
    src: url("../../public/fonts/Comfortaa-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Jost";
    src: url("../../public/fonts/jost.medium.otf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Telegraf";
    src: url("../../public/fonts/Satoshi-Variable.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
