@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Comfortaa";
    src: url("/fonts/Comfortaa-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Raligo";
    src: url("/fonts/Raligo.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Telegraf";
    src: url("/fonts/jost.medium.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}